@{
    ViewBag.Title = "About";
}

<article class="content about-page">
    <section class="section">
        <div class="row">
            <div class="col col-12">
                <b>FeedBack Platform</b> allow you to create surveys.
            </div>
        </div>
    </section>
</article>
