<div id ="commentBox" class="ridge commentBox" style="display:none;">
    <div class=""><textarea class="form-control createSurveyInput" cols="20" id="Content" name="Content" rows="2"></textarea></div>
</div>