<div id ="multipleChoice" class="ridge multipleChoice" style="display:none;">
    <table class="input-group mt-3 mb-3">
        <tbody class="tableForMultipleChoice">
        </tbody>
    </table>
    <br /> 
    <div style="text-align:right">
        <button id ="add-response-multipleChoice" class="btn btn-primary"><i class="fa fa-plus-circle" style="padding-right:3px"></i>Add</button>
    </div>
</div>